@page "/hello"
@code {
   [Parameter] public string FirstName { get; set; } = "Worl";
}

<body style="background-color:black;color:white;">
   <h1>Hello @FirstName!</h1>

   <form action="/hello" method="post">
     <input name="firstName" required />
     <input type="submit" />
   </form>
</body>